.img {
  width: 320px;
  box-sizing: border-box;

  border: 2px solid red;

  padding: 10px 40px; 

  /* padding: 10px 20px 30px 40px; */
  /* padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 40px; */

  margin: 10px 20px 40px 80px;
/*   margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 40px;
  margin-left: 80px;
 */

}
