:root {
  --main-accent-color: dodgerblue;
}

li {
  margin-top: 30px;
}

.link {
  display: inline-block;
  text-decoration: none;
  background-color: var(--main-accent-color);
  padding: 6px 12px;
}

.link:hover:not(button) {
  background-color: brown;
  color: white;
}

.test {
  width: 50px;
  height: 50px;
  background-color: var(--main-accent-color);
}
