.main-article {
  font-size: 60px;
  color: dodgerblue;

  border: 4px solid dodgerblue;
  /*  
  border-width: 8px;
  border-style: solid;
  border-color: red;
  */
}

.article-header {
  color: initial;
  border: inherit;

}

.article-content {
}

.page-link {
  text-decoration: none;

  color: inherit;
}
